<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2">Projects Detail</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href= "/admin/projects/{{project.alias}}/delete" class="btn btn-sm btn-outline-secondary">Upload Project</a>
            </div>
        </div>
    </div>

    <form action="/admin/projects/create" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">GithubUrl</label>
                    <input type="text" name="githubUrl" class="form-control" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Tag</label>
                    <input type="text" name="tags" class="form-control" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" rows="5" name="description" id="description" class="form-control" value=""></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>

    </form>
</main>