<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2">Upload Image</h1>
    </div>

    <form action="{{actionUrl}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="upload">
        <button type="submit" class="btn btn-primary">Upload</button>

    </form>
</main>