<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/image/favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/minireset.min.css">
   
    <link rel="stylesheet" href="/css/album.css">
    
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/product.css">

    <link href="/css/style.css" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

    {{#if extraCss}}
        {{{extraCss}}}
    {{/if}}
</head>