<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Page Not Found</h2>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a  href="/">Return Home</a>
        </div>
    </div>
</div>