<form class="form-signin" method="POST" action="/signup">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Please Enter Name" required autofocus>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required >

    <label for="inputEmail" class="sr-only">Mobile</label>
    <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Mobile Number" required >


    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <label for="cpassword" class="sr-only">Confirm Password</label>
    <input type="password" name="cpassword" id="cPassword" class="form-control" placeholder="Confirm Password" required>



    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>